
.modal-header {
    border-bottom: 1px solid #e1e1e1;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    display: block;
    width: 100%;
}

.inner-login-form {
    padding: 10px 20px 0;
}

.inner-login-form form {
    margin-bottom: 20px;
}

.inner-login-form .form-control {
    border-radius: 0;
    margin-bottom: 15px;
}
.inner-login-form .rem-span {
    margin-top: 10px;
    font-size: 14px;
}
.inner-login-form .shop-btn {
    width: 100%;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    padding: 13px 35px;
    margin-top: 15px;
}

.shop-btn {
    background: linear-gradient(to right, #369536, #90C539);
    padding: 18px 35px;
    color: white;
    border-radius: 40px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
}

.form-social-ico {
    text-align: center;
}

.form-social-ico a {
    display: inline-block;
    margin: 10px 9px;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
}

.form-social-ico .login-fb {
    background: #285398;
}

.form-social-ico .login-gplus {
    background: #dd4b3c;
}

.w-100 {
    width: 100%!important;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    margin-right: 5px;
    background: url(../images/checkbox-ico.png) no-repeat;
}

.custom-checkbox.selected {
    background: url(../images/checkbox-ico-selected.png) no-repeat;
    margin-right: 5px;
}

.inner-login-form .lost-password {
    float: right;
}

.bottom-bn {
    border-top: 1px solid #ccc;
    margin-top: 25px;
}

.bottom-bn a {
    display: block;
    padding: 10px 10px 0;
    text-transform: uppercase;
    color: #000;
    text-align: center;
}

.inner-banner {
    background: url(../images/static-bg.jpg) repeat-x;
    padding: 40px 0 50px;
    text-align: center;
}
.inner-banner .title {
    margin: 0;
}
.title {
    position: relative;
    margin: 50px 0;
}
.inner-banner .title h3 {
    font-size: 40px;
    color: #fff;
}

.title h3 {
    text-align: center;
}
.title:after {
    background: linear-gradient(to right, #369536, #90C539);
    height: 3px;
    width: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    content: "";
}
.breadcrumb-top {
    display: inline-block;
    margin-top: 15px;
}
.breadcrumb {
    background: none;
    margin-bottom: 0;
    padding: 0;
}
.breadcrumb li {
    font-size: 15px;
    color: white;
}
.breadcrumb li a {
    color: white;
}
.breadcrumb-item.active {
    color: white;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    color: white;
}
.pageDetails {
    margin: 50px 0;
}

.all-blog-list .row {
    border-bottom: 4px dotted #68a268;
    padding: 15px 0px;
}

.intl-tel-input {
    width: 100%;
}
.custom-checkbox input[type=checkbox] {
    margin: 0;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    outline: none;
    opacity: 0;
    _noFocusLine: expression(this.hideFocus=true);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
}
.inner-login-form #rememberme {
    vertical-align: -2px;
}
.custom-checkbox input[type=checkbox] {
    display: none;
}

.sidebarContainer .userPic {
    padding: 0 15px 15px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #369536;
    background: #cbf9cb;
}

.sidebarContainer .userPic img.img-responsive {
    width: 150px;
    margin-bottom: 15px;
    border-radius: 50%;
    margin-top: 15px;
    display: inline;
}

ul.dashboard-sidebar {
    background: #fff;
    min-height: 120px;
    border: 1px solid #369536;
}
ul.dashboard-sidebar li {
    overflow: hidden;
    list-style: none;
    width: 100%;
    clear: both;
    border-bottom: 1px solid #369536;
}
ul.dashboard-sidebar li a{
    color: #369536;
}
ul.dashboard-sidebar li figcaption {
    width: 100%;
    padding: 15px;
}
ul.dashboard-sidebar i {
    margin-right: 10px;
    font-size: 18px;
}
ul.dashboard-sidebar li.active {
    border-bottom: 1px solid #41b3e7;
}
.dashboarCcontainer {
    border: 1px solid #369536;
    min-height: 385px;
}
.inner-dash-space {
    padding: 20px;
}

ul.dashboard-sidebar li.active {
    border-bottom: 3px solid #003501;
    background: #369536;    
}
ul.dashboard-sidebar li.active a{
    color: #FFFFFF;
}