html, body{
    font-size: 100%;
	background:#fff;
	margin:0px!important;
	font-family: 'Roboto';
}
p{
	margin:0;
	font-size:14px;
	line-height: 24px;
	color: #444444;
}
h1,h2,h3,h4,h5,h6{

	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
img {
    max-width: 100%;
}
body a:hover{
	text-decoration:none;
	    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.no-padding {
    padding: 0;
}

.padding-left {
    padding-left: 0;
}

.padding-right {
    padding-right: 0;
}
/*-----------top logo--------------------*/

.logo {
    margin: 15px 0 0 0;
}
.header-main .navbar {
    margin: 0 auto;
}
.header-main .navbar .navbar-brand {
    height: auto;
    padding: 7px 0;
}
#navbar .navbar-nav {
    margin: 20px 0 0 0;
}
li.nav-item a {
    text-transform: uppercase;
    font-size: 18px;
}
.heading-banner {
    margin: 15em 0 0 4em;
}
.heading-img {
    text-align: right;
    margin: 4em 10em 0 0px;
}
.heading-banner h2 {

    color: #a40c12;
    font-size: 60px;
}
.heading-banner p {

    color: #333;
    font-size: 15px;
    margin-top: 15px;
}
a.banner-btn {
    margin-top: 20px;
    float: left;
    color: #444;
    border: 1px solid #444;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    outline: none;
}
a.banner-btn:hover {
    color: #fff;
    border: 1px solid #a40c12;
   	background: #a40c12;
}
header {
    border-top: 4px solid #369536;
}


header .navbar-inverse {
    background-color: transparent;
    border: none;
}
#header .navbar-nav > li > a {
    color: #444444;
    font-size: 15px;
    letter-spacing: 0;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    padding: 7px 12px;
}

#header .navbar-nav > li > a:hover{
    color: #369536;
 }
#header .navbar-nav > li {
    margin: 0 4px;
}
#header li.top-right a {
    background: #ebebeb;
    border-radius: 40px;
    padding: 7px 23px;
	text-decoration: none;
}
#header li.top-right a:hover {
    background: #369536;
	color:#fff;
}
#header .navbar-nav li a.active:after {
    content: "";
    width: 43px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #174e9f;
    transform: skew(20deg);
    right: 0;
    margin: 0 auto;
}
.navbar-inverse .navbar-nav > .active > a {background-color: transparent;}

.nav-links .navbar-inverse .navbar-nav>li>a:focus,.nav-links  .navbar-inverse .navbar-nav>li>a:hover {
    background-color:#fff;
	color:#df4914;
}

.cat-bg{
    background: #369536;
}
.cat-bg .dropbtn {
  background-color: #003501;
  color: white;
  padding: 16px;
  font-size: 14px;
  border: none;
}

.cat-bg .dropdown {
  position: relative;
  display: inline-block;
}

.cat-bg .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 198px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}
.cat-bg .dropdown-content a {
    color: black;
    padding: 12px 20px 12px 16px;
    text-decoration: none;
    font-size: 13px;
    display: block;
	letter-spacing: 0.5px;
    text-transform: uppercase;
}
.cat-bg .dropbtn .caret {
    margin: 0 6px;
}
.dropdown-content a:hover {
    background-color: #369536;
    color: #fff;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #1b1921;}

.banner-search {
    position: relative;
    margin-top: 9px;
    float: right;
}
.banner-search input {
    border: 0;
    border-radius: 40px;
    font-weight: 300;
    font-size: 14px;
    position: relative;
    padding: 18px 60px 18px 27px;
    width: 300px;
}
.banner-search .btn-search {
    background: #000;
    font-size: 16px;
    color: white;
    border-radius: 0px 40px 40px 0;
    padding: 6px 14px;
    position: absolute;
    right: 0;
    top: 0;
}
.btn.btn-search i {
    margin-right: 8px;
}
.banner_containt {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 40%;
    transform: translateY(-40%);
    text-align: left;
    z-index: 9999;
}
.banner_containt h2 {
    color: #fff;
    margin-top: 0;
    font-size: 78px;
    margin-bottom: 18px;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px #4e4e4e;
    font-weight: 100 !important;
}
.banner_containt p {
    color: #fff;
    font-size: 26px;
    line-height: normal;
    font-weight: 100;
    text-transform: uppercase;
}
.common-btn {
    font-size: 15px;
    background: #ffffff;
    color: #000000;
    padding: 11px 30px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    float: right;
    margin-top: 2em;
}
.common-btn:hover {
  background: #369536;
  color: #ffffff; }

.banner-text {
    padding: 17px;
    text-align: right;
}
.owl-nav span {
  position: relative; }

.owl-nav .owl-next {
  position: absolute;
  color: #fff;
  top: 45%;
  right: 1%;
  text-transform: uppercase;
  font-size: 16px; }

.owl-nav .owl-prev {
    position: absolute;
    color: #fff;
    top: 45%;
    left: 1%;
    text-transform: uppercase;
    font-size: 16px;
}
.owl-nav i {
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 40px;
}
.common-btn i.fa.fa-angle-right {
    margin: 0 0 0 9px;
    font-size: 20px;
}

.serv-green-box li {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 16%;
}

.serv-green-box li a.col01 {
    background: #8ab81a;
    text-align: center;
    width: 102%;
	padding: 18px 0;
    display: block;
}
.serv-green-box li a.col02 {
    background: #61a43b;
    text-align: center;
    width: 102%;
	padding: 18px 0;
    display: block;
}
.serv-green-box li a.col03 {
    background: #449036;
    text-align: center;
    width: 102%;
	padding: 18px 0;
    display: block;
}
.serv-green-box li a.col01:hover { background-color: #003501;}
.serv-green-box li a.col02:hover { background-color: #003501;}
.serv-green-box li a.col03:hover { background-color: #003501;}
.serv-green-box {
    position: relative;
    height: 100px;
}
.serv-green-box ul {
    position: absolute;
    top: -61px;
    z-index: 9;
    width: 100%;
}
.serv-green-box li a span {
    display: block;
    color: #fff;
    font-size: 22px;
    margin: 4px 0;
    text-decoration: none;
}
.serv-green-box li a p {
    display: block;
    color: #fff;
    font-size: 22px;
    margin: 4px 0;
    text-decoration: none;
    font-weight: 100;
    text-transform: uppercase;
}
.decorated {
    overflow: hidden;
    text-align: center;
    font-size: 1.3rem!important;
    margin: 0 0 2em;
}
.decorated>span {
    position: relative;
    display: inline-block;
    font-size: 38px;
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
}
.decorated>span:before {
    content: '';
    position: absolute;
    bottom: 10px;
    background: #449036;
    width: 3px;
    margin: 0;
    height: 36px;
    left: -20px;
}
.decorated>span:after {
    content: '';
    position: absolute;
    top: 10px;
    background: #449036;
    width: 3px;
    margin: 0;
    height: 36px;
    right: -20px;
}
.service-wrapper-one {
    margin: 3em 0 0;
}

/*************************services******************************/


.hover-card {
    padding: 1.5rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    height: 100%;
}
.hover-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}
.hover-card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.main-service {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;
}
.main-service img {
    width: 100%;
}

.main-service:hover .service-content {
        height: 100%;
}
.service-content p {
    color: #fff;
    margin: 0 0 18px 0;
    letter-spacing: 0.6px;
}

.relative, .welcome-wrap h4 {
	position: relative;
}
.service-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(0,0,0, 0.6);
    margin: auto;
    left: 0;
    padding: 15px;
    box-sizing: border-box;
    transition: .3s ease-in-out;
    height: 60px;
}
.service-content h4 {
    font-size: 1.25rem;
    position: relative;
    padding-bottom: 8px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 13px;
    margin-top: 8px;
}
a.getquote {
    background: #369536;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 16px;
    border-radius: 4px;
}
a.getquote:hover {
    background: #000;
    color: #fff;
}
a.booknow {
    background: #000;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 16px;
    border-radius: 4px;
}
a.booknow:hover {
    background: #369536;
    color: #fff;
}


.banner-box-main {

  position: relative;
  margin-top: 0;



}


.banner-box-main .button {
  position: absolute;
  left:0;
  right: 0;
  top: 100px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.banner-box-main .button {

    padding: 8px 25px;
    text-align: center;
    color: white !important;
    border: solid 1px #369536;
    z-index: 1;
    background: #369536;
    font-size: 13px;
    display: inline-block;
    width: 65%;
border-radius: 40px;
    margin: auto;	

}



.banner-box-main:hover .button {

  opacity: 1;

}


.banner-box-main .overlay {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;

}
.banner-box-main:hover .overlay {

  display: block;
  background: rgba(0, 0, 0, .3);

}
.shelter-wrapper {
    background: url(../images/bg01.jpg) no-repeat 0 0;
    background-size: cover;
    padding: 0;
    text-align: left;
    margin: 4em 0 0;
}
.shelter-wrapper strong {
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    line-height: 28px;
    margin: 73px 0 0;
    display: inline-block;
}
.shelter-wrapper em {
    font-size: 19px;
    font-weight: 100;
    color: #fff;
    line-height: 28px;
    margin: 15px 0 20px;
    display: inline-block;
}
.shelter-wrapper p {
    font-size: 14px;
    color: #fff;
}
.shelter-wrapper a {
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 30px;
    font-size: 18px;
    border-radius: 50px;
    background: transparent;
    text-decoration: none;
    margin-top: 1em;
    display: inline-block;
}
.shelter-wrapper a:hover {
    color: #fff;
    border: 1px solid #369536;
    background: #369536;
    text-decoration: none;

}
.home-pro-col {
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 0; }

.home-pro-col a {
      width: 100%; }

.home-pro-col .home-f-pro {
      height: 160px;
      overflow: hidden;
      margin-bottom: 20px; }

.home-pro-col .home-f-pro img {
        width: 100%; }

.home-pro-col h4 {
      font-size: 18px;
      margin-bottom: 10px;
      color: #2d2926;
		    margin-left: 14px;
}
.home-pro-col p {
      font-size: 14px;
      color: #444444;
          margin-left: 14px;
}
.home-pro-col .title {
    color: #282828;
    margin-bottom: 4px;
    margin-left: 14px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.product button.btn.btn-default {
    background: #369536;
    border: 0;
    color: #fff;
    border-radius: 40px;
    padding: 4px 20px;
    margin: 12px 0 16px 14px;
}
.mob-app {
    padding: 31px 0;
    text-align: center;
}
.mob-app strong {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    line-height: 28px;
    margin: 25px 0 10px;
    display: inline-block;
}
.mob-app p {
    font-size: 19px;
    color: #000;
    line-height: 28px;
    margin: 15px 0 20px;
    display: block;
}
.inputusericon {
    position: absolute;
    top: 12px;
    right: 27px;
	    cursor: pointer;
}
.news-letter-text form {
    position: relative;
    margin: 14px 0 0;
}
.news-letter-pic img {
    width: 100%;
}
.news-letter-text .form-control {
    font-size: 13px;
    padding: 0px 22px;
    background: #fff;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 0;
    height: 45px;
    color: #000;
}
.news-letter-box {
    position: relative;
    display: inline-block;
    width: 60%;
}
.news-letter-text {
    position: absolute;
    right: 5%;
    top: 17%;
    width: 56%;
}
.heading-news {
    font-size: 44px;
    font-weight: 500;
}

.news-letter-text p {
    font-size: 20px;
}
.inputusericon .fa {
    color: #999;
}
.feature-item {
    float: right;
    width: 40%;
    position: relative;
}
.feature-item img {
    width: 100%;
}
.chair-text {
    position: absolute;
    left: 30px;
    top: 60px;
    width: 55%;
}
.chair-text p {
    font-size: 19px;
    display: block;
    margin-top: 16px;
    color: #000;
}
.add-name span {
    color: #369536;
}
.add-name:after {
    content: "";
    position: absolute;
    background: #369536;
    height: 3px;
    width: 62px;
    top: 43px;
    right: 0;
    left: 0;
}
.chair-text a {
    background: #369536;
    color: #fff;
    display: inline-block;
    padding: 5px 24px;
    border-radius: 40px;
    margin-top: 20px;
    text-decoration: none;
}
.chair-text a:hover {
    background: #000;
    color: #fff;
}
.add-name {
    color: #000;
    font-size: 28px;
    position: relative;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
}
#client .owl-nav {
    display: none !important;
}
.service-support {
    background: #80c52e;
    padding: 5em 0;
    margin: 3em 0 0;
}
.support-box {
    border-right: 1px solid #fff;
    display: inline-block;
}
.support-pic {
    text-align: center;
}
.support-txt strong {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 500;
}
.support-txt p {
    color: #fff;
}
footer ul {
    margin-bottom: 24px;
}
footer {
    background: #ffffff;
    padding: 70px 0 40px;
}
footer p {
    color: #000;
    font-size: 14px;
}
footer p a {
    color: #f8c218;
    font-size: 14px;
    margin: 0 7px;
    text-decoration: none;
    outline: none;
}
footer p a:hover {

    color: #369536;
}
.copyright-main {
    background: #369536;
    color: #fff;
    padding: 14px 0;
}
.copyright p {
    margin-bottom: 0;
    font-size: 14px;
	color: #fff;
}
.copyright a {
    color: #ccc;
    text-decoration: none;
}
.copyright a:hover {
    color: #000;
    text-decoration: none;
}
.cont-details li {

    list-style: none;
    font-size: 14px;
    margin: 0 0 10px;

}

.cont-details li span {

    width: 30%;
    float: left;

}

footer li {
    list-style: none;
}
footer li a {
    color: #000;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out 0s;
	text-decoration: none !important;
}




footer li a:hover {

    color: #369536; padding-left: 4px;
}
footer h5 {

	margin: 20px 0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    font-family: Roboto;
    border-left: 5px solid #369536;
    padding: 0 0 0 13px;
}
span.boot-logo {
    margin-bottom: 20px;
    display: inline-block;
}
.footer-social {
    margin-bottom: 25px;
    margin-top: 20px;
}
.footer-social a {
    display: inline-block;
    margin: 10px;
}
.footer-social i {
    color: #ffffff;
    font-size: 30px;
    transition: all 0.3s ease;
    text-align: center;
    padding-top: 10px;
    margin-right: 5px;
}
    .footer-social i:hover {
      color: #064db7; }