<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);

</style>
<div>
  <table width="650" border="0" style="padding:20px;margin:0 auto;border:5px solid #347ea3;">
    <tbody>
      <tr>
        <td>
          Dear {{user_name}},
          
        </td>
      </tr>
      
      <tr>
        <td>
          <p>A new job has assigned to you by your service provider. See below information about job and proceed as per schedule.</p>
       </td>
      </tr>

      <tr>
        <td>
          Service Information
        </td>
      </tr>
      <tr>
        <td>
            <p><strong>Service : </strong> {{service}}</p>
            <p><strong>Address : </strong>{{service_address}}</p>
            <p><strong>Schedule : </strong>{{service_schedule}}</p>
        </td>
      </tr>

      <tr>
        <td>
          Customer Information
        </td>
      </tr>
      <tr>
        <td>
            <p><strong>Name : </strong> {{customer_name}}</p>
            <p><strong>Email : </strong>{{customer_email}}</p>
            <p><strong>Contact : </strong>{{customer_contact}}</p>
        </td>
      </tr>

      <tr>
        <td>
          You can also see all information in your account. Login and click on see. <a href="{{detail_link}}">Click Here</a>
        </td>
      </tr>
      
      <tr>
        <td>
          <p>Thanks & regards</p>

          <p>Team, {{team_name}}</p>
          <p><a href="{{site_url}}"><img style="height:70px;" src="{{site_logo}}"></a> </p>
          
        </td>
      </tr>
      <tr>
        <td style="text-align:center;font-family:roboto;font-size:11px;padding:0px;">
          <p>Copyright@{{year}} {{company_name}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>