<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);

</style>
<div>
  <table width="650" border="0" style="padding:20px;margin:0 auto;border:5px solid #347ea3;">
    <tbody>
      <tr>
        <td>
          Dear {{user_name}},          
        </td>
      </tr>
      <tr>
        <td>
          <p>Your service booking Id "<strong>#{{booking_id}}</strong>" for service "<strong>{{service_name}}</strong>" has successfully <strong>Closed</strong>.</p>

          <p>So, This email has sent you as a booking close notification and request to share your valuable feedback to us on service.</p> 

          <p>Please click on below link and share your feedback.</p>

          <p><a href="{{feedback_form_url}}">Customer Feedback Cornor</a></p>

       </td>
      </tr>

      <tr>
        <td>
          <p>Thanks & regards</p>

          <p>Team, {{team_name}}</p>
          <p><a href="{{site_url}}"><img style="height:70px;" src="{{site_logo}}"></a> </p>
          
        </td>
      </tr>
      <tr>
        <td style="text-align:center;font-family:roboto;font-size:11px;padding:0px;">
          <p>Copyright@{{year}} {{company_name}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>