<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);

</style>
<div>
  <table width="650" border="0" style="padding:20px;margin:0 auto;border:5px solid #347ea3;">
    <tbody>
      <tr>
        <td>
          Dear {{vendor_name}},
          
        </td>
      </tr>
      <tr>
        <td>
          <p>We happy to inform you that a customer "{{customer_name}}" is looking for a service of "{{service_name}}" which is nearest to you. Please contact with them and accept their proposal.</p>         
       </td>
      </tr>

      <tr>
        <td>
          <p>You can reach to customer by below decorated information.</p>         
       </td>
      </tr>

      <tr>
        <td><p><strong>Service name : </strong> {{service_name}}</p>          
      </tr>
      <tr>
        <td><p><strong>Customer name : </strong> {{customer_name}}</p>          
      </tr>
      <tr>
        <td><p><strong>Customer Email : </strong> {{customer_email}}</p>          
      </tr>
      <tr>
        <td><p><strong>Customer Contact : </strong> {{customer_contact}}</p>          
      </tr>
      <tr>
        <td>
          <p>We wish that you can accept and close this deal.</p>         
       </td>
      </tr>

      <tr>
        <td>
          <p>Thanks & regards</p>

          <p>Team, {{team_name}}</p>
          <p><a href="{{site_url}}"><img style="height:70px;" src="{{site_logo}}"></a> </p>
          
        </td>
      </tr>
      <tr>
        <td style="text-align:center;font-family:roboto;font-size:11px;padding:0px;">
          <p>Copyright@{{year}} {{company_name}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>