<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);

</style>
<div>
  <table width="650" border="0" style="padding:20px;margin:0 auto;border:5px solid #347ea3;">
    <tbody>
     
      <tr>
        <td>
          <p>A new complaint has register. Please contact to customer and provide resolution as soon.</p> 
        </td>
      </tr> 

      <tr>
        <td>
            <p><strong>Service Order Id : </strong> {{order_id}}</p>
        </td>
      </tr>

      <tr>
        <td>
            <p><strong>Customer Details </strong></p>
        </td>
      </tr>

      <tr>
        <td>
            <p><strong>Name : </strong> {{user_name}}</p>
            <p><strong>Email : </strong>{{user_email}}</p>
            <p><strong>Contact : </strong>{{user_contact}}</p>
        </td>
      </tr>

      <tr>
        <td>
            <p><strong>Complaint Subject : </strong> {{complain_subject}}</p>
        </td>
      </tr>

      <tr>
        <td>
            <p><strong>Concern/Comment : </strong> {{complain_concern}}</p>
        </td>
      </tr>
      
      <tr>
        <td>
          <p>Thanks & regards</p>
          <p>Team, {{team_name}}</p>
          <p><a href="{{site_url}}"><img style="height:70px;" src="{{site_logo}}"></a> </p>          
        </td>
      </tr>
      <tr>
        <td style="text-align:center;font-family:roboto;font-size:11px;padding:0px;">
          <p>Copyright@{{year}} {{company_name}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>