<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);

</style>
<div>
  <table width="650" border="0" style="padding:20px;margin:0 auto;border:5px solid #347ea3;">
      <tr>
        <td></td>
      </tr>
      
      <tr>
        <td>
          <p>A new service request has come for review and approval to start. Below that service information have been decorated.</p>
       </td>
      </tr>
      <tr><td> <strong>Service Provider : </strong> &nbsp; {{user_name}} / {{bussiness}} </td></tr>
      <tr><td> <strong>Bussiness Contact : </strong> &nbsp; {{bussiness_contact}} </td></tr>      
      <tr><td> <strong>Service Name : </strong> &nbsp; {{service_name}}</td></tr>
      <tr><td> <strong>Zipcode : </strong> &nbsp; {{zipcode}}</td></tr>      
      <tr>
        <td>
          <p>Thanks & regards</p>

          <p>Team, {{team_name}}</p>
          <p><a href="{{site_url}}"><img style="height:70px;" src="{{site_logo}}"></a> </p>
          
        </td>
      </tr>
      <tr>
        <td style="text-align:center;font-family:roboto;font-size:11px;padding:0px;">
          <p>Copyright@{{year}} {{company_name}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>