<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);

</style>
<div>
  <table width="650" border="0" style="padding:20px;margin:0 auto;border:5px solid #347ea3;">
    <tbody>
      <tr>
        <td>
          Dear {{user_name}},
          
        </td>
      </tr>
      <tr>
        <td>
          <p>Thanks for placing an order on {{company_name}}.</p>  <br>       
       </td>
      </tr>

      <tr>
        <td>

          <table border="1" style="border-collapse: collapse;" bordercolor="#CCC" width="100%" cellpadding="5" cellspacing="5">
            <tr>
              <td colspan="4"><strong>Order Id </strong> #{{order_id}} <strong> On </strong> {{ordered_time}}</td>
            </tr>
            <tr>
              <td colspan="2" valign="top" align="left">
                <h3>Customer Data</h3>
                {{customer_data}}
              </td>

              <td colspan="2" valign="top" align="left">
                <h3>Shipping Address</h3>
                {{shipping_address}}
              </td>
            </tr>

            <tr>
              <td colspan="4" valign="top" align="left"><strong>Payment Method : </strong> {{payment_method}}</td>
            </tr>


            <tr>
              <td colspan="4" valign="top" align="left"><strong>Purchased Items</strong></td>
            </tr>

            <tr>
              <td colspan="4" valign="top" align="left">{{ordered_items}}</td>
            </tr>

            <tr>
              <td colspan="2">&nbsp;</td>
              <td><strong>Sub Total : </strong></td>
              <td>{{order_subtotal}}</td>
            </tr>

            <tr>
              <td colspan="2">&nbsp;</td>
              <td><strong>Shipping ({{order_shipping}}) : </strong></td>
              <td>{{order_shipping_amt}}</td>
            </tr>
            <tr>
              <td colspan="2">&nbsp;</td>
              <td><strong>Discount : </strong></td>
              <td>{{order_discount}}</td>
            </tr>
            <tr>
              <td colspan="2">&nbsp;</td>
              <td><strong>Grand Total : </strong></td>
              <td>{{order_amount}}</td>
            </tr>
          </table>
        </td>
      </tr>      

      <tr>
        <td>
          <p>Thanks & regards</p>

          <p>Team, {{team_name}}</p>
          <p><a href="{{site_url}}"><img style="height:70px;" src="{{site_logo}}"></a> </p>
          
        </td>
      </tr>
      <tr>
        <td style="text-align:center;font-family:roboto;font-size:11px;padding:0px;">
          <p>Copyright@{{year}} {{company_name}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>