<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);

</style>
<div>
  <table width="650" border="0" style="padding:20px;margin:0 auto;border:5px solid #347ea3;">
    <tbody>
      <tr>
        <td>
          Dear {{vendor_name}},
          
        </td>
      </tr>
      <tr>
        <td>
          <p>We happy to inform you that a customer "<strong>{{customer_name}}</strong>" made payment of "<strong>{{additional_amount}}</strong>" against service booking Id "<strong>#{{booking_id}}</strong>" for service  "<strong>{{service_name}}</strong>" which was due after service estimation as outstanding.</p>         
       </td>
      </tr>

      <tr>
        <td>Payment Summary</td>
      </tr>
      <tr>
        <td><p><strong>Additional Hours : </strong> {{additional_time}}</p>          
      </tr>
      <tr>
        <td><p><strong>Additional Amount : </strong> {{additional_amount}}</p>          
      </tr>

      <tr>
        <td>Service Details</td>
      </tr>

      <tr>
        <td><p><strong>Service name : </strong> {{service_name}}</p>          
      </tr>

      <tr>
        <td>Customer Details</td>
      </tr>
      <tr>
        <td>
          <p><strong>Customer name : </strong> {{customer_name}}</p>
          <p><strong>Customer Email : </strong> {{customer_email}}</p>
          <p><strong>Customer Contact : </strong> {{customer_contact}}</p>    
        </td>          
      </tr>

      <tr>
        <td>
          <p>We wish that you can accept and close this deal.</p>         
       </td>
      </tr>

      <tr>
        <td>
          <p>Thanks & regards</p>

          <p>Team, {{team_name}}</p>
          <p><a href="{{site_url}}"><img style="height:70px;" src="{{site_logo}}"></a> </p>
          
        </td>
      </tr>
      <tr>
        <td style="text-align:center;font-family:roboto;font-size:11px;padding:0px;">
          <p>Copyright@{{year}} {{company_name}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>