<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);

</style>
<div>
  <table width="650" border="0" style="padding:20px;margin:0 auto;border:5px solid #347ea3;">
    <tbody>
      
      
      
      <tr>
        <td>
         

          <p>Reschedule Service Date</p>

          

        
       </td>
      </tr> 
      
      
    
    </tbody>
  </table>
</div>