<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);

</style>
<div>
  <table width="650" border="0" style="padding:20px;margin:0 auto;border:5px solid #347ea3;">
    <tbody>
      <tr>
        <td>
          Dear Candidate,
          
        </td>
      </tr>
     
      <tr>
        <td>
          <p>We're happy to have you with us! Profesionals like you help customers with more than 2 million+ projects each year. </p> 
          <p>You are now just 3 steps away from getting these customers requests.</p>
        </td>
      </tr> 
      <tr>
        <td>
          <h3>1. Create Profile</h3>
          <p> a fantastic profile and upload relevant documents for approval (including work photos, Photo ID, certificates, etc.)</p>
          <h3> 2. Profile Verification and Approval</h3>
          <p>Our Team will verify your profile within 7 days. Please provide as much information as possible to maximize chances of approval</p>
          <h3>3. Buy Credits and Respond to leads</h3>
          <p>Once approved, then buy credits to respond to customer leads</p>
        </td>
      </tr>
      
      <tr>
        <td>
          <p>Thanks & regards</p>
          <p>Team, {{team_name}}</p>
          <p><a href="{{site_url}}"><img style="height:70px;" src="{{site_logo}}"></a> </p>          
        </td>
      </tr>
      <tr>
        <td style="text-align:center;font-family:roboto;font-size:11px;padding:0px;">
          <p>Copyright@{{year}} {{company_name}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>