<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);

</style>
<div>
  <table width="650" border="0" style="padding:20px;margin:0 auto;border:5px solid #347ea3;">
    <tbody>
      <tr>
        <td>
          Dear {{user_name}},
          
        </td>
      </tr>
      <tr>
        <td>
          <p>Sorry to inform you, Due to some reason your service has been deactivated. For more information please contact to admin.</p>

          <p><strong>Service name : </strong> {{service_name}}</p>
          <p><strong>Zipcode : </strong> {{zipcode}}</p>
          <p><strong>Status : </strong> Deactivated</p>

          <p>We wish you that you got solution of deactivation concern and re-activated for future.</p>
       </td>
      </tr> 
      <tr>
        <td>
          <p>Thanks & regards</p>

          <p>Team, {{team_name}}</p>
          <p><a href="{{site_url}}"><img style="height:70px;" src="{{site_logo}}"></a> </p>
          
        </td>
      </tr>
      <tr>
        <td style="text-align:center;font-family:roboto;font-size:11px;padding:0px;">
          <p>Copyright@{{year}} {{company_name}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>