<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);

</style>
<div>
  <table width="650" border="0" style="padding:20px;margin:0 auto;border:5px solid #347ea3;">
    <tbody>
     
      <tr>
        <td>
          <p>We're happy to have you with us! A new profesionals want to start service with below service and zipcode.</p> 
        </td>
      </tr> 

      <tr>
        <td>
            <p><strong>Email : </strong> {{bussiness_email}}</p>
            <p><strong>Contact : </strong>{{bussiness_contact}}</p>
            <p><strong>Service : </strong>{{bussiness_service}}</p>
            <p><strong>Zipcode : </strong>{{bussiness_zipcode}}</p>
        </td>
      </tr>
      
      <tr>
        <td>
          <p>Thanks & regards</p>
          <p>Team, {{team_name}}</p>
          <p><a href="{{site_url}}"><img style="height:70px;" src="{{site_logo}}"></a> </p>          
        </td>
      </tr>
      <tr>
        <td style="text-align:center;font-family:roboto;font-size:11px;padding:0px;">
          <p>Copyright@{{year}} {{company_name}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>