<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);

</style>
<div>
  <table width="650" border="0" style="padding:20px;margin:0 auto;border:5px solid #347ea3;">
    <tbody>
      <tr>
        <td>
          Dear Candidate,
          
        </td>
      </tr>
      <tr>
        <td>
          <p>We happy to inform you that your submitted service for desire zipcode has been verified and allowed you to register by below registration link.</p>

          <p><strong>Service name : </strong> {{service_name}}</p>
          <p><strong>Zipcode : </strong> {{zipcode}}</p>


          <p><strong>Registration Url : </strong> <a href="{{signup_link}}">Click here</a></p>

          <p>We wish you that you got a lots of booking and earn more.</p>
       </td>
      </tr> 
      <tr>
        <td>
          <p>Thanks & regards</p>

          <p>Team, {{team_name}}</p>
          <p><a href="{{site_url}}"><img style="height:70px;" src="{{site_logo}}"></a> </p>
          
        </td>
      </tr>
      <tr>
        <td style="text-align:center;font-family:roboto;font-size:11px;padding:0px;">
          <p>Copyright@{{year}} {{company_name}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>