<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);
</style>
<div>
  <table width="650" border="0" style="padding:20px;margin:0 auto;border:5px solid #347ea3;">
        <tbody>
      <tr>
        <td>
          Dear {{user_name}},          
        </td>
      </tr>
      <tr>
        <td>
          <p>Your service has been requested successfully which booking ID is "<strong>#{{oid}}</strong>", Against service <strong>{{service_name}}</strong> for date and time <strong>{{service_date}}</strong></p>
       </td>
      </tr>

      <tr>
        <td>

          <table border="1" style="border-collapse: collapse;" bordercolor="#CCC" width="100%" cellpadding="5" cellspacing="5">
            <tr>
              <td colspan="4"><strong>Booking Id </strong> #{{oid}} </td>
            </tr>

            <tr>
              <td valign="top" align="left"><strong>Name</strong></td><td valign="top" align="left">{{user_name}}</td>
              <td valign="top" align="left"><strong>Email</strong></td><td valign="top" align="left">{{user_email}}</td>
            </tr>

            <tr>
              <td valign="top" align="left"><strong>Service Name</strong></td>
              <td colspan="3" valign="top" align="left">{{service_name}}</td>
            </tr>
            <tr>
              <td valign="top" align="left"><strong>Service Schedule</strong></td><td valign="top" align="left">{{service_date}}</td>
              <td valign="top" align="left"><strong>Service Address</strong></td><td valign="top" align="left">{{service_address}}</td>
            </tr>

            <tr>
              <td colspan="4" valign="top" align="left"><strong>Payment Summary</strong></td>
            </tr>

            <tr>
              <td colspan="2" valign="top" align="right"><strong>Service Charge</strong></td>
              <td colspan="2" valign="top" align="left">{{service_charge}}</td>
            </tr>

            {{discount}}
            {{tax}} 

            <tr>
              <td colspan="2" valign="top" align="right"><strong>Sub Total</strong></td>
              <td colspan="2" valign="top" align="left">{{total_amount}}</td>
            </tr>
            
          </table>
        </td>
      </tr>

      <tr>
        <td>You can see more information inside your account. Login and Go to Booking section.</td>
      </tr>

      <tr>
        <td><p>We wish best and feel free for any type of concern and assistance.</p></td>
      </tr>     

      <tr>
        <td>
          <p>Thanks & regards</p>

          <p>Team, {{team_name}}</p>
          <p><a href="{{site_url}}"><img style="height:70px;" src="{{site_logo}}"></a> </p>
          
        </td>
      </tr>
      <tr>
        <td style="text-align:center;font-family:roboto;font-size:11px;padding:0px;">
          <p>Copyright@{{year}} {{company_name}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>