<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);
</style>
<div>
  <table width="650" border="0" style="padding:20px;margin:0 auto;border:5px solid #347ea3;">
    <tbody>
      <tr>
        <td>
          Dear {{user_name}},          
        </td>
      </tr>
      <tr>
        <td>
          <p>As per service on booking Id "<strong>#{{booking_id}}</strong>", Additional Time spent estimation has designed below. So, Please pay that pending outstanding amount from your account.</p>
        </td>
      </tr>

      <tr>
        <td>

          <table border="1" style="border-collapse: collapse;" bordercolor="#CCC" width="100%" cellpadding="5" cellspacing="5">
            <tr>
              <td valign="top" align="left"><strong>Service Duration</strong></td>
              <td colspan="3" valign="top" align="left">{{start_time}} <strong>TO</strong>{{end_time}}</td>
            </tr>
            <tr>
              <td valign="top" align="left"><strong>Time Spent</strong></td><td>{{time_spent}}</td>
              <td valign="top" align="left"><strong>Allocated Time</strong></td><td>{{time_allocated}}</td>
            </tr>

            <tr>
              <td colspan="2" valign="top" align="left"><strong>Estimated Additional Time</strong></td>
              <td colspan="2" valign="top" align="left">{{time_additional}}</td>
            </tr>

            <tr>
              <td colspan="4"><strong>Estimated Additional Amount</strong></td>
            </tr>

            <tr>
              <td colspan="2" valign="top" align="right"><strong>Service Charge</strong></td>
              <td colspan="2" valign="top" align="left">{{additional_amount}}</td>
            </tr>
            <tr>
              <td colspan="2" valign="top" align="right"><strong>Tax ({{tax_name}}) {{tax}}%</strong></td>
              <td colspan="2" valign="top" align="left">{{additional_tax}}</td>
            </tr>
            <tr>
              <td colspan="2" valign="top" align="right"><strong>Sub Total</strong></td>
              <td colspan="2" valign="top" align="left">{{additional_subtotal}}</td>
            </tr>

          </table>
        </td>
      </tr>
      <tr>
        <td>Please pay outstanding charges from detail page of service booking. <a href="{{details_url}}">Click here</a> to visit service booking detail page.</td>
      </tr>

      <tr>
        <td><p>We wish best and feel free for any type of concern and assistance.</p></td>
      </tr>

      <tr>
        <td>
          <p>Thanks & regards</p>
          <p>Team, {{team_name}}</p>
          <p><a href="{{site_url}}"><img style="height:70px;" src="{{site_logo}}"></a> </p>          
        </td>
      </tr>
      <tr>
        <td style="text-align:center;font-family:roboto;font-size:11px;padding:0px;">
          <p>Copyright@{{year}} {{company_name}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>