<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);
</style>
<div>
  <table width="650" border="0" style="padding:20px;margin:0 auto;border:5px solid #347ea3;">
    <tbody>
      <tr>
        <td>
          Dear {{user_name}},          
        </td>
      </tr>
      <tr>
        <td>
          <p>We're happy to inform you that your service booking "<strong>#{{booking_id}}</strong>" has completed by assigned service operator. Below has decorated the summary of that service.</p>
        </td>
      </tr>

      <tr>
        <td>
          <p><strong>Service Duration : </strong> {{start_time}} <strong> TO </strong>{{end_time}}</p>
          <p><strong>Time Spent : </strong> {{time_spent}}</p>
          <p><strong>Allocated Time : </strong> {{time_allocated}}</p>
        </td>
      </tr>

      <tr>
        <td>{{additional_estimated}}</td>
      </tr>

      <tr>
        <td>
          <p>Thanks & regards</p>
          <p>Team, {{team_name}}</p>
          <p><a href="{{site_url}}"><img style="height:70px;" src="{{site_logo}}"></a> </p>          
        </td>
      </tr>
      <tr>
        <td style="text-align:center;font-family:roboto;font-size:11px;padding:0px;">
          <p>Copyright@{{year}} {{company_name}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>