<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);

</style>
<div>
  <table width="650" border="0" style="padding:20px;margin:0 auto;border:5px solid #347ea3;">
    <tbody>
      <tr>
        <td>
          Dear {{name}},
          
        </td>
      </tr>
      <tr>
        <td><p>A service provider of {{company_name}} has added you as an operator and system has sent you password setting url below in this email.</p></td>
      </tr>
      
      <tr>
        <td>
          <p><strong>Your Used Email Address :</strong> {{email}}</p>
       </td>
      </tr> 

      <tr>
        <td>
          <p><strong>Reset Password Url :</strong> <a href="{{resetUrl}}">Click here</a></p>
       </td>
      </tr> 
      
      <tr>
        <td>
          <p>Thanks & regards</p>

          <p>Team, {{team_name}}</p>
          <p><a href="{{site_url}}"><img style="height:70px;" src="{{site_logo}}"></a> </p>
          
        </td>
      </tr>
      <tr>
        <td style="text-align:center;font-family:roboto;font-size:11px;padding:0px;">
          <p>Copyright@{{year}} {{company_name}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>