<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);

</style>
<div>
  <table width="650" border="0" style="padding:20px;margin:0 auto;border:5px solid #347ea3;">
    <tbody>
     
      <tr>
        <td>
          <p>A service provider registration has recived for below Service request.</p> 
        </td>
      </tr> 

      <tr>
        <td>
            {{request_details}}
            <p><strong>Name : </strong> {{user_name}}</p>
            <p><strong>Email : </strong>{{user_email}}</p>
            <p><strong>Mobile : </strong>{{user_mobile}}</p>
        </td>
      </tr>
      
      <tr>
        <td>
          <p>Thanks & regards</p>
          <p>Team, {{team_name}}</p>
          <p><a href="{{site_url}}"><img style="height:70px;" src="{{site_logo}}"></a> </p>          
        </td>
      </tr>
      <tr>
        <td style="text-align:center;font-family:roboto;font-size:11px;padding:0px;">
          <p>Copyright@{{year}} {{company_name}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>