<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);

</style>
<div>
  <table width="650" border="0" style="padding:20px;margin:0 auto;border:5px solid #347ea3;">
    <tbody>
      <tr>
        <td>
          Dear {{user_name}},
          
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
      
      <tr>
        <td>
          <p>Thank you for submitting your concern with us, Our team will get back to you as soon as earlist</p>
       </td>
      </tr> 

      <tr>
        <td>
          <p>You can use below ticket number for refrence in future till your issue will resolved.</p>
       </td>
      </tr> 

      <tr>
        <td>
          <p><strong>Support Ticket Number : </strong><a href="{{ticket_url}}">#{{ticket_number}}</a></p>
       </td>
      </tr> 
      
      <tr>
        <td>
          <p>Thanks & regards</p>

          <p>Team, {{team_name}}</p>
          <p><a href="{{site_url}}"><img style="height:70px;" src="{{site_logo}}"></a> </p>
          
        </td>
      </tr>
      <tr>
        <td style="text-align:center;font-family:roboto;font-size:11px;padding:0px;">
          <p>Copyright@{{year}} {{company_name}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>