<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);

</style>
<div>
  <table width="650" border="0" style="padding:20px; margin:0 auto; border:5px solid #369536;">
    <tbody>
      <tr>
        <td>
          Dear {{user_name}},
          
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>
      <tr>
        <td>
          <p>Thank you for registration with "<strong>{{site_name}}</strong>"</p>

          <p>Please click below link for email verification!</p>
          <p>In case the verify tab does not work,</p>
          <p>Please copy and paste this URL into your browser</p>
          <p><a style="color:#00AFEF;" href="{{verification_link}}">{{verification_link}}   </a></p>
          <p>This link is valid for 3 days (72 hours). After 3 days you need to contact administrator.</p>
          <p>This is an auto generated verification email.</p>
       </td>
      </tr> 
      <tr><td>
          &nbsp;
        </td></tr>
      <tr>

      </tr>

      <tr>
        <td>
          {{signature}}          
        </td>
      </tr>
      <tr>
        <td style="text-align:center;font-family:roboto;font-size:11px;padding:0px;">
          {{disclaimer}}
        </td>
      </tr>
    </tbody>
  </table>
</div>